################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Amatelight/obj/Debug/net10.0
/Amatelight/bin/Debug/net10.0
/Amatelight/obj
/Amatelight/bin/Release/net10.0/linux-x64
